res/shape_predictor_68_face_landmarks.dat
dlib.so
images/outputs/tmpl_1_inp_1.png
images/outputs/tmpl_1_inp_3.png
images/outputs/tmpl_1_inp_4.png
images/outputs/tmpl_1_inp_5.png
images/outputs/tmpl_1_inp_6.png
images/outputs/tmpl_2_inp_1.png
images/outputs/tmpl_2_inp_3.png
images/outputs/tmpl_2_inp_4.png
images/outputs/tmpl_2_inp_5.png
images/outputs/tmpl_2_inp_6.png
images/outputs/tmpl_3_inp_1.png
images/outputs/tmpl_3_inp_3.png
images/outputs/tmpl_3_inp_4.png
images/outputs/tmpl_3_inp_5.png
images/outputs/tmpl_3_inp_6.png
images/outputs/tmpl_4_inp_1.png
images/outputs/tmpl_4_inp_3.png
images/outputs/tmpl_4_inp_4.png
images/outputs/tmpl_4_inp_5.png
images/outputs/tmpl_4_inp_6.png
images/outputs/tmpl_5_inp_1.png
images/outputs/tmpl_5_inp_3.png
images/outputs/tmpl_5_inp_4.png
images/outputs/tmpl_5_inp_5.png
images/outputs/tmpl_5_inp_6.png
